.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.heroLink, .heroLink:hover {
  color: var(--ifm-font-color-base-inverse);
}

.heroButton {
  background-color: var(--ifm-background-surface-color);
  color: var(--ifm-color-primary);
  font-size: xx-large;
  border-radius: 4px;

}